/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/open-sans-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v20-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/open-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v20-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/open-sans-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v20-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v20-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

 
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body{
  background-color: black;  
  font: 300 15px/1.5 "Open sans";
}

ul, li, a, p, figcaption{
  font: 400 15px/1.5 "Open sans",sans-serif;

}
/* Header */
header{ 
  z-index: 100; 
  position:absolute;
}

nav{
  background: rgb(25,25,25);
  height: 66px;
  width: 100vw;   
  position: fixed; 
  z-index: 10;  
}

/* Logotipo */
nav a div{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3%;
  margin: auto;
  height: 27px;
  display: flex;
  align-items: center;
}

nav a img{
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}

nav a img:hover{
  color: rgba(0,0,0,0.7);
  filter: opacity(70%);
}

nav a div p{
  font-size: 1.1rem;
  color: white;
  margin-left: 8px;
}

nav ul{
  float: right;
  margin-right: 3%;
}

nav ul li{
  display: inline-block;
  line-height: 4.1rem;
  margin: 0 8px;
  font-size: 0.88rem;
  text-transform: uppercase;
}

nav ul li a{
  opacity: 0.5;
  padding: 4px 10px;
  color:white;
}

.activo{
  opacity: 1;
}

nav ul li a:hover{
  border-bottom: 1px solid white ;
  opacity: 1;
}

/* Menú responsive */
.menu-ham{
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.menu-ham span{
  background-color: white;
  display: block;
  height: 4px;
  width: 28px;
  margin: 5px auto;
  border-radius: 1px;
}

/* Animaciones menú responsive */
.br-1.animation{
  transform: rotate(-45deg) translate(-5px, 7.8px);
  transition: 0.4s;
}

.br-2.animation{
  opacity: 0; 
}

.br-3.animation{
  transform: rotate(45deg) translate(-5px, -7.8px);
  transition: 0.4s;
}

/* media queries header*/
@media (max-width: 1100px){

  nav a div {
    left: 4%;
  }
  }
@media (max-width: 768px){

  .menu-ham{
    display: block;
    position: absolute;
    right: 5.5%;
    top: 0;
    bottom: 0;
    margin: auto; 
  }
  nav a div {
    left: 3%;
  }

  nav a img{
    left: 5.5%;
    padding-left: 15%;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 66px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    font-size: 1rem;
  }

  nav ul.show{
    background-color: rgba(25,25,25,0.95);
    left: 0;
  }

  nav ul li{
    line-height: 2rem;
    text-align: center;
    display: block;
    margin: 26px 0;
    border-bottom: 2px solid rgba(160,160,160,0.3);
    padding-bottom: 20px;
  }

  nav ul li a{
    opacity: 1;
  }
}

@media (max-width: 567px){

  nav ul li a {
    font-size: 1.1rem;
  }
  nav ul li:first-child {
    margin-top: 48px;
  }
}

/*main index*/
.description {
  background:black;
  width:30vw;
  height:calc(100vh - 66px);
  color:white;
  position: relative;

}
h1{
  position:absolute;
  top:20%;
  left:9%;
  font-weight: 300;
  font-size: 1.5rem;
}

spam{
  animation: fluid 10s ease-in-out infinite;
  background: linear-gradient(-45deg, #eed152, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-style: italic;
  padding-right: 10px;
}

@keyframes fluid {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}
.boton {
  position: absolute;
  bottom: 0;
  padding-bottom: 16px;
  padding-top: 14px;
  padding-left: 9%;
  width: 91%;
  border-top: rgba(255, 255, 255, 0.9) 2px solid;
  transition: transform 0.3s;
}

.boton p{
  font-family: "Open sans";
  font-weight: 300;
  font-size:1.4rem;
}

.flecha {
  width: 20px;
  display: inline;
  position: absolute;
  right: 20px;
  padding-top: 8px;
}
.boton:hover{
  background-color:white;
  color:black;
  transition: 0.6s;
}

.boton:hover .flecha{
  filter: invert(100%);
}

.boton p {
  font-family: "Open sans";
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  display: inline;
}
.boton:hover p {
  color: black;
}

.side {
  background: #fea;
  width:70vw;
  height:calc(100vh - 66px);
}

.side img {
  width: 100%;
  height:calc(100vh - 66px);
  object-fit: cover;
  top: 38px;
  position: relative;
}

#slider {/* las imágenes no van a salir del márgen de la pantalla*/
  overflow: hidden;
  background-color:black;
}

#slider figure img {
  width: 20%;
  float: left;
}

#slider figure { /*el movimiento se va a mantener de forma indefinida -infinito-*/
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

@keyframes slidy { /*esta parte del código define el movimiento de las imágenes a la izquierda*/
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
40% { left: -100%; }
45% { left: -200%; }
60% { left: -200%; }
65% { left: -300%; }
80% { left: -300%; }
85% { left: -400%; }
100% { left: -400%; }
}

@media ( min-width : 768px ){
	main{
    display: -webkit-flex;
    display: flex;
	}
}

@media (max-width: 1100px){

  .description {
    width: 45vw;
  }
  .side {
    width: 55vw;
  }
  }

@media (max-width: 768px){
  h1 {
 
    font-size: 1.6rem;
}
  
  .description,
  .side {
    width: 100vw;
    height: calc(100vh - 147.5px);
  }
    .description{
      position: absolute;
      z-index: 20;
      background-color: rgba(0,0,0,0.8);
    }
    
    .description h1 {
      left: 5.5%;
    }
  
    .boton {
      padding-top: 13px;
      padding-bottom: 13px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
  }
    .boton p {
      padding-left: 5.5%;
    }
  
    .flecha {

      right: 5.5%;
      padding-top:1.2%;
    }
  }

  @media (max-width: 567px){

  
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .description, .side {
    width: 100vw;
    height: calc(100vh - 135.5px);
  }
  .flecha {
    padding-top: 2.3%;
  }
  .boton p {
    font-weight: 400;
  }
}
/* footer */
footer{
  background: rgb(25,25,25);
  min-height: 66px;
  width: 100vw;
  z-index: 11;
  position: relative;
}

footer > div{
  padding-left:2.5%;
  padding-right:2.5%;
  margin: 0 auto;
}

.footer-left ul li {
  line-height: 4.1rem;
  font-size: 1.05rem;
  display:inline-block;
}

.footer-left ul li a{
  color: white;
  opacity:0.5;
}

.footer-left ul li a:hover{
  color:white;
  opacity:1;
}

.footer-left ul li::after {
  content: "|";
  margin-left:10px;
  margin-right:6px;
  color: #8f9296;
}

.footer-left ul li:last-child::after {
  content: "";
}

.footer-right {
  float: right;   
  color: white;
}


.footer-right a {
  display: inline-flex;
  color: white;
  height: 33px;
  width: 33px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1px;
  margin-left: 9px;
  transition: transform 0.3s;
  margin-top:15.5px;
  transform:scale(1.1);
}
.footer-right a:hover{
  transform: scale(1.25); 
}

.footer-right a:active{
  background-color: black;
}

.footer-right img{
  width: 70%;
  height: 70%;
}

/* media queries footer */
@media (max-width: 1100px){

  footer > div {
    padding-left: 4%;
    padding-right: 4%;
  }
  }

@media (max-width: 768px){

  footer {
    height: 111.5px;
    padding-bottom: 24px;
    padding-top: 12px;
    text-align: center;
  }
  .footer-left ul li{
    line-height: 2rem;
  }

  .footer-right {
    float: none;
    padding-bottom: 4%;
  }
}
@media (max-width: 576px){
  .footer-left ul li {
    line-height: 2rem;
  }
  .footer-left ul li::after {
    content: "|";
    margin-left: 6px;
    margin-right: 1px;
    color: #8f9296;

}

}




/*cubo*/
#cube {
	position: absolute;
	left: 48%;
	top: 70%;
	margin-left: -100px;
	margin-top: -50px;
	height: 100;
  opacity:1;
 transform: scale(.3);
    transform-origin: 0 0;
  filter: grayscale(100%);


}

@keyframes cssanimation{
  to {
		left:-100%;
    opacity:0;
	}

}

.block {
	position: absolute;
	-webkit-transition: margin 1s;
	transition: margin 1s;
}

.block .top {
	height: 58px;
	width: 50px;
}

.block .left, .block .right {
	height: 55px;
	width: 50px;
}

.block .top {
  background: linear-gradient(-45deg, #eeeeee, #202020);
	-ms-transform: rotate(-60deg) skewX(30deg); /* IE 9 */
	-webkit-transform: rotate(-60deg) skewY(30deg);
	transform:  rotate(-60deg) skewY(30deg);
	position: absolute;
  	bottom: 40px;
  	left: 25px;
    animation: fluid 3.5s ease-in-out infinite;
    background-size: 300%;

}

@keyframes fluid {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

.block .left {
  background: linear-gradient(200deg,  #000000, #d8d4c3);
  animation: fluid 10s ease-in-out infinite;
  background-size: 300%;
	-ms-transform: skewY(30deg); /* IE 9 */
	-webkit-transform: skewY(30deg); 
	transform: skewY(30deg);
}

.block .right {
  background: linear-gradient(-45deg,  #c7b874, #272224);
	-ms-transform: skewY(-30deg); /* IE 9 */
	-webkit-transform: skewY(-30deg); 
	transform: skewY(-30deg);
	position: absolute;
	bottom:0px;
	left:50px;
  animation: fluid 10s ease-in-out infinite;
  background-size: 300%;
}

.toplayer {
	position: absolute;
  	top: -52px;
  	z-index: 1000;
}

.middlelayer {
	position: absolute;
	top: 3px;
	z-index: 999;
}

.bottomlayer {
	position: absolute;
  top: 58px;
  z-index: 998;
}

div[class^="row"], div[class^="col"] {
	position: absolute;
	-webkit-transition: margin 1s; 
	transition: margin 1s;
}

div[class^="singlerow"] {
	position:relative;
	-webkit-transition: left 1s; 
	transition: left 1s;
}

div[class^="block"] {
	opacity: 1;
}

.row1-2, .row2-2, .row3-2 {
	left:50px;
	top:29px;
}

.row1-3, .row2-3, .row3-3 {
	left:100px;
	top: 58px;
}

.block111, .block121, .block131, .block211, .block221, .block231, .block311, .block321, .block331 {
	position:absolute;
	left:-50px;
	top:29px;
	z-index: 2;
}

.block112, .block122, .block132, .block212, .block222, .block232, .block312, .block322, .block332 {
	z-index: 1;
}

.block113, .block123, .block133, .block213, .block223, .block233, .block313, .block323, .block333 {
	position:absolute;
	left:50px;
	top:-29px;
	z-index: 0;
}

/* Animation */

#cube .row3-1, #cube .row2-1, #cube .row1-1 {
	animation: backrow 3.5s infinite;	
}

@keyframes backrow {
	0% {
		margin: 0;
	}
	16% {
		margin: -26px 0 0 -50px;
	}
	33% {
		margin: -26px 0 0 -50px;
	}
	50%	{
		margin: -26px 0 0 -50px;
	}
	66% {
		margin: 0;
	}
	83% {
		margin: 0;
	}
	100% {
		margin: 0;
	}
}

#cube .row3-3, #cube .row2-3, #cube .row1-3 {
	animation: frontrow 3.5s infinite;
}

@keyframes frontrow {
	0% {
		margin: 0;
	}
	16% {
		margin: 26px 0 0 50px;
	}
	33% {
		margin: 26px 0 0 50px;
	}
	50%	{
		margin: 26px 0 0 50px;
	}
	66% {
		margin: 0;
	}
	83% {
		margin: 0;
	}
	100% {
		margin: 0;
	}
}

#cube .col1 {
	animation: leftcolumns 3.5s infinite;
}

@keyframes leftcolumns {
	0% {
		margin: 0;
	}
	16% {
		margin: 0;
	}
	33% {
		margin: 28px 0px 0px -50px;
	}
	50%	{
		margin: 28px 0px 0px -50px;
	}
	66% {
		margin: 28px 0px 0px -50px;
	}
	83% {
		margin: 0;
	}
	100% {
		margin: 0;
	}
}

#cube .col3 {
	animation: rightcolumns 3.5s infinite;
}

@keyframes rightcolumns {
	0% {
		margin: 0;
	}
	16% {
		margin: 0;
	}
	33% {
		margin: -28px 0px 0px 50px;
	}
	50%	{
		margin: -28px 0px 0px 50px;
	}
	66% {
		margin: -28px 0px 0px 50px;
	}
	83% {
		margin: 0;
	}
	100% {
		margin: 0;
	}
}

#cube .block111, #cube .block121, #cube .block131, #cube .block112, #cube .block122, #cube .block132, #cube .block113, #cube .block123, #cube .block133 {
animation: explodetop 3.5s infinite;
}

@keyframes explodetop {
	0% {
		margin: 0;
	}
	16% {
		margin: 0;
	}
	33% {
		margin: 0;
	}
	50%	{
		margin-top: -57px;
	}
	66% {
		margin-top: -57px;
	}
	83% {
		margin-top: -57px;
	}
	100% {
		margin-top: 0;
	}
}

#cube .block311, #cube .block321, #cube .block331, #cube .block312, #cube .block322, #cube .block332, #cube .block313, #cube .block323, #cube .block333 {
	animation: explodebottom 3.5s infinite;
}

@keyframes explodebottom {
	0% {
		margin: 0;
	}
	16% {
		margin: 0;
	}
	33% {
		margin: 0;
	}
	50%	{
		margin-top: 57px;
	}
	66% {
		margin-top: 57px;
	}
	83% {
		margin-top: 57px;
	}
	100% {
		margin-top: 0;
	}
}

@media (max-width: 1100px){

#cube {

  top: 73%;

}}


@media (max-width: 768px){

  #cube {
  
display:none;  
  }}


  @media (min-width: 1800px){
    #cube {
  
      transform: scale(.4);
      left:41%;
        }
        h1 {
 
          font-size: 1.9rem;
          top:18%;
      }
      .footer-left ul li a {

        font-size: 1.08rem;
      }.footer-left ul li  {
      
        font-size: 1.2rem;
      }
      }